body {
    background: rgb(255, 150, 248);
}

h1 {
    color:rgb(57, 6, 104);
}

h2 {
    color:rgb(255, 255, 255)
}

.lara { color: rgb(58, 107, 58)}

.sophia { color:rgb(115, 60, 166)}

.Daniela { color:rgb(72, 105, 249)}

.Yoonchae { color:rgb(235, 87, 195) }

.Megan { color:rgb(247, 211, 180)}

.Manon { color:rgb(237, 237, 132)}

li { color:aliceblue}